USE [master]
GO
/****** Object:  Database [SqlSugar4XTest]    Script Date: 2017/5/22 0:28:33 ******/
CREATE DATABASE [SqlSugar4XTest] 
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SqlSugar4XTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SqlSugar4XTest]
GO
/****** Object:  Table [dbo].[School]    Script Date: 2017/5/22 0:28:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[School](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Student]    Script Date: 2017/5/22 0:28:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Student](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SchoolId] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([Id], [SchoolId], [Name], [CreateTime]) VALUES (2, 0, N'sun', CAST(N'1900-01-01 12:00:00.000' AS DateTime))
INSERT [dbo].[Student] ([Id], [SchoolId], [Name], [CreateTime]) VALUES (3, 0, N'jack', CAST(N'2017-05-07 11:14:41.000' AS DateTime))
INSERT [dbo].[Student] ([Id], [SchoolId], [Name], [CreateTime]) VALUES (4, 0, N'jack', CAST(N'2017-05-07 11:14:41.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Student] OFF
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Student', @level2type=N'COLUMN',@level2name=N'Id'
GO
USE [master]
GO
