<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="sqlConn" connectionString="Server=DESKTOP-RHDNF4S\SKX;uid=sa;pwd=sasa;database=SqlSugarTest" providerName="System.Data.SqlClient" />
    <add name="c1" connectionString="Server=DESKTOP-RHDNF4S\SKX;uid=sa;pwd=sasa;database=SQLSUGARBIGTEST" providerName="System.Data.SqlClient" />
    <add name="c2" connectionString="Server=DESKTOP-RHDNF4S\SKX;uid=sa;pwd=sasa;database=SQLSUGARBIGTEST2" providerName="System.Data.SqlClient" />
    <add name="c3" connectionString="Server=DESKTOP-RHDNF4S\SKX;uid=sa;pwd=sasa;database=SQLSUGARBIGTEST3" providerName="System.Data.SqlClient" />
    <add name="c4" connectionString="Server=DESKTOP-RHDNF4S\SKX;uid=sa;pwd=sasa;database=SQLSUGARBIGTEST4" providerName="System.Data.SqlClient" />
    <add name="c5" connectionString="Server=DESKTOP-RHDNF4S\SKX;uid=sa;pwd=sasa;database=SQLSUGARBIGTEST5" providerName="System.Data.SqlClient" />
    <add name="c6" connectionString="Server=DESKTOP-RHDNF4S\SKX;uid=sa;pwd=sasa;database=SQLSUGARBIGTEST6" providerName="System.Data.SqlClient" />
    <add name="c7" connectionString="Server=DESKTOP-RHDNF4S\SKX;uid=sa;pwd=sasa;database=SQLSUGARBIGTEST7" providerName="System.Data.SqlClient" />
    <add name="c8" connectionString="Server=DESKTOP-RHDNF4S\SKX;uid=sa;pwd=sasa;database=SQLSUGARBIGTEST8" providerName="System.Data.SqlClient" />
    <add name="c9" connectionString="Server=DESKTOP-RHDNF4S\SKX;uid=sa;pwd=sasa;database=SQLSUGARBIGTEST9" providerName="System.Data.SqlClient" />
    <add name="c10" connectionString="Server=DESKTOP-RHDNF4S\SKX;uid=sa;pwd=sasa;database=SQLSUGARBIGTEST11" providerName="System.Data.SqlClient" />
    <!--<add name="c1" connectionString="Server=172.16.2.22\sql2008r2;uid=sa;pwd=123456;database=SQLSUGARBIGTEST" providerName="System.Data.SqlClient" />
    <add name="c2" connectionString="Server=172.16.2.22\sql2008r2;uid=sa;pwd=123456;database=SQLSUGARBIGTEST2" providerName="System.Data.SqlClient" />
    <add name="c3" connectionString="Server=172.16.2.22\sql2008r2;uid=sa;pwd=123456;database=SQLSUGARBIGTEST3" providerName="System.Data.SqlClient" />-->
    <add name="SqlSugarTestEntities" connectionString="metadata=res://*/TestLib.EFMODEL.csdl|res://*/TestLib.EFMODEL.ssdl|res://*/TestLib.EFMODEL.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=SqlSugarTest;User ID=sa;Password=sasa;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>