<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.4-alpha1-00070" targetFramework="net452" />
  <package id="Dapper.Contrib" version="1.50.0" targetFramework="net452" />
  <package id="Dapper.Extension" version="1.0.0.1" targetFramework="net452" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package id="FreeSql" version="2.0.105" targetFramework="net452" />
  <package id="FreeSql.Provider.SqlServer" version="2.0.105" targetFramework="net452" />
  <package id="SyntacticSugar" version="2.4.1" targetFramework="net452" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net452" />
  <package id="System.Data.SqlClient" version="4.8.2" targetFramework="net452" />
</packages>