USE [master]
GO
/****** Object:  Database [SqlSugar4XTest]    Script Date: 2017/5/29 20:01:11 ******/
CREATE DATABASE [SqlSugar4XTest] 
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SqlSugar4XTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SqlSugar4XTest]
GO
/****** Object:  Table [dbo].[School]    Script Date: 2017/5/29 20:01:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[School](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Student]    Script Date: 2017/5/29 20:01:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Student](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SchoolId] [int] NULL,
	[Name] [varchar](50) NULL CONSTRAINT [DF_Student_Name]  DEFAULT ('default name'),
	[CreateTime] [datetime] NULL CONSTRAINT [DF_Student_CreateTime]  DEFAULT (getdate()),
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([Id], [SchoolId], [Name], [CreateTime]) VALUES (92992, 0, N'jack', CAST(N'2010-01-01 00:00:00.000' AS DateTime))
INSERT [dbo].[Student] ([Id], [SchoolId], [Name], [CreateTime]) VALUES (92993, 0, NULL, CAST(N'2010-01-01 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Student] OFF
/****** Object:  StoredProcedure [dbo].[sp_school]    Script Date: 2017/5/29 20:01:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_school]
@p1 int,
@p2 int output
as
set @p2=100
select * from  School
 
GO
EXEC [SqlSugar4XTest].sys.sp_addextendedproperty @name=N'Student', @value=N'Student Info' 
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Pk' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Student', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Student Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Student', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'student info' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Student'
GO
USE [master]
GO
USE [SqlSugar4XTest]
GO

/****** Object:  Table [dbo].[DataTestInfo]    Script Date: 2017/6/1 12:46:50 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[DataTestInfo](
	[Int1] [int] IDENTITY(1,1) NOT NULL,
	[Int2] [int] NULL,
	[String] [varchar](50) NULL,
	[Decimal1] [decimal](18, 0) NOT NULL,
	[Decimal2] [decimal](18, 0) NULL,
	[Datetime1] [datetime] NOT NULL,
	[Datetime2] [datetime] NULL,
	[Image1] [image] NOT NULL,
	[Image2] [image] NULL,
	[Guid1] [uniqueidentifier] NOT NULL,
	[Guid2] [uniqueidentifier] NULL,
	[Money1] [money] NOT NULL,
	[Money2] [money] NULL,
	[Varbinary1] [varbinary](max) NOT NULL,
	[Varbinary2] [varbinary](max) NULL,
	[Float1] [float] NOT NULL,
	[Float2] [float] NULL,
 CONSTRAINT [PK_DataTypeTestInfo] PRIMARY KEY CLUSTERED 
(
	[Int1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO


CREATE TABLE [dbo].[DataTestInfo2](
	[PK] [uniqueidentifier] NOT NULL,
	[Bool1] [bit] NOT NULL,
	[Bool2] [bit] NULL,
	[Text1] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO


alter table student  add float [Float]

GO